<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ensemblist</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="assets/font.css" rel="stylesheet">
        <link href="assets/style.css" rel="stylesheet">
        <link rel="alternate" type="application/rss+xml" title="Ensemblist" href="/feed">
 
<link rel="icon" type="image/png" href="/assets/i/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/i/favicon.svg" />
<link rel="shortcut icon" href="/assets/i/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/i/apple-touch-icon.png" />
<link rel="manifest" href="/assets/i/site.webmanifest" />


</head>
    <body>
    