html {
    background-color: #edede9;
    color: #000;
    margin: 0 auto;
    max-width: 62rem;
}

body {
    font: 300 'Crimson Pro', 'Gill Sans', 'Jetbrains Mono', serif;
    margin: 4rem;
    
}

h1 {
    color: #0d1321;
    margin-bottom: 0;
    text-wrap: balance;
}

h1,
nav,
.center {
    text-align: center;
}

nav {
    margin-bottom: 4rem;
    margin-top: 0;
}

a {
    color: #bc4749;
    font-weight: 600;
}
