html {
    background-color: #f0ead2;
    color: #6c584c;
    margin: 0 auto;
    max-width: 62rem;
}

body {
    font: 300 'Crimson Pro', 'Gill Sans', 'Jetbrains Mono', serif;
    margin: 4rem;
    
}

nav {
    margin-bottom: 4rem;
    margin-top: 0;
}

footer {
    margin: 4rem;
    font-size: 0.75rem;
    color: #dde5b6;
}

h1 {
    color: #adc178;
    margin-bottom: 0;
    text-wrap: balance;
}

h1,
nav,
.center {
    text-align: center;
}

a {
    color: #a98467;
    font-weight: 600;
}
