:root {
    --bg: #7C9EB2;
    --text: #000;
    --heading: #52528C;
    --link: #372554;
    --footer: #231123;
    --flow-space: 1.5em;
}

html {
    background: var(--bg);
    color: var(--text);
    margin: 0 auto;
    min-width: 20rem;
    max-width: 62rem;
    
}

.flow>*+* {
    margin-block-start: var(--flow-space, 1em);
}

body {
    font: 300 'Crimson Pro', 'Gill Sans', 'Jetbrains Mono', serif;
    margin: 4rem;
}

nav {
    margin-bottom: 4rem;
}

footer {
    margin-top: 4rem;
    font-size: 0.75rem;
    color: var(--footer);
}

h1 {
    color: var(--heading);
    margin-bottom: 0;
    text-wrap: balance;
    text-align: center;
}

nav,
.center {
    text-align: center;
}

a {
    color: var(--link);
    font-weight: 600;
}
